@import url("../css/hover-min.css");
.span_2_of_2 {
  width: 100%; }

.span_1_of_2 {
  width: 49.2%; }

.span_3_of_3 {
  width: 100%; }

.span_2_of_3 {
  width: 66.13%; }

.span_1_of_3 {
  width: 32.26%; }

.span_4_of_4 {
  width: 100%; }

.span_3_of_4 {
  width: 74.6%; }

.span_2_of_4 {
  width: 49.2%; }

.span_1_of_4 {
  width: 23.8%; }

.span_5_of_5 {
  width: 100%; }

.span_4_of_5 {
  width: 79.67%; }

.span_3_of_5 {
  width: 59.36%; }

.span_2_of_5 {
  width: 39.04%; }

.span_1_of_5 {
  width: 18.72%; }

.span_6_of_6 {
  width: 100%; }

.span_5_of_6 {
  width: 83.06%; }

.span_4_of_6 {
  width: 66.13%; }

.span_3_of_6 {
  width: 49.2%; }

.span_2_of_6 {
  width: 32.26%; }

.span_1_of_6 {
  width: 15.33%; }

.span_7_of_7 {
  width: 100%; }

.span_6_of_7 {
  width: 85.48%; }

.span_5_of_7 {
  width: 70.97%; }

.span_4_of_7 {
  width: 56.45%; }

.span_3_of_7 {
  width: 41.94%; }

.span_2_of_7 {
  width: 27.42%; }

.span_1_of_7 {
  width: 12.91%; }

.span_8_of_8 {
  width: 100%; }

.span_7_of_8 {
  width: 87.3%; }

.span_6_of_8 {
  width: 74.59%; }

.span_5_of_8 {
  width: 61.9%; }

.span_4_of_8 {
  width: 49.2%; }

.span_3_of_8 {
  width: 36.5%; }

.span_2_of_8 {
  width: 23.8%; }

.span_1_of_8 {
  width: 11.1%; }

.span_9_of_9 {
  width: 100%; }

.span_8_of_9 {
  width: 88.71%; }

.span_7_of_9 {
  width: 77.42%; }

.span_6_of_9 {
  width: 66.13%; }

.span_5_of_9 {
  width: 54.84%; }

.span_4_of_9 {
  width: 43.55%; }

.span_3_of_9 {
  width: 32.26%; }

.span_2_of_9 {
  width: 20.97%; }

.span_1_of_9 {
  width: 9.68%; }

.span_10_of_10 {
  width: 100%; }

.span_9_of_10 {
  width: 89.83%; }

.span_8_of_10 {
  width: 79.67%; }

.span_7_of_10 {
  width: 69.51%; }

.span_6_of_10 {
  width: 59.35%; }

.span_5_of_10 {
  width: 49.2%; }

.span_4_of_10 {
  width: 39.03%; }

.span_3_of_10 {
  width: 28.87%; }

.span_2_of_10 {
  width: 18.72%; }

.span_1_of_10 {
  width: 8.55%; }

.span_11_of_11 {
  width: 100%; }

.span_10_of_11 {
  width: 90.76%; }

.span_9_of_11 {
  width: 81.52%; }

.span_8_of_11 {
  width: 72.29%; }

.span_7_of_11 {
  width: 63.05%; }

.span_6_of_11 {
  width: 53.81%; }

.span_5_of_11 {
  width: 44.58%; }

.span_4_of_11 {
  width: 35.34%; }

.span_3_of_11 {
  width: 26.1%; }

.span_2_of_11 {
  width: 16.87%; }

.span_1_of_11 {
  width: 7.63%; }

.span_12_of_12 {
  width: 100%; }

.span_11_of_12 {
  width: 91.53%; }

.span_10_of_12 {
  width: 83.06%; }

.span_9_of_12 {
  width: 74.6%; }

.span_8_of_12 {
  width: 66.13%; }

.span_7_of_12 {
  width: 57.66%; }

.span_6_of_12 {
  width: 49.2%; }

.span_5_of_12 {
  width: 40.73%; }

.span_4_of_12 {
  width: 32.26%; }

.span_3_of_12 {
  width: 23.8%; }

.span_2_of_12 {
  width: 15.33%; }

.span_1_of_12 {
  width: 6.86%; }

.section {
  clear: both;
  padding: 0px;
  margin: 0px; }

/*  COLUMN SETUP  */
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%; }

.col:first-child {
  margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

.group {
  zoom: 1;
  /* For IE 6/7 */ }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: 'Raleway', sans-serif; }

.mainlogo {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 131, 0.8)), url("../img/herosmall.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px; }

.logo {
  width: 4%;
  height: 4%;
  margin-left: 10px;
  margin-top: 10px; }

.centered {
  position: absolute;
  top: 40%;
  left: 40%;
  letter-spacing: 5px;
  color: white;
  animation-name: slideInLeft;
  animation-duration: 5s;
  margin-bottom: 10px;
  text-transform: uppercase; }

.centre {
  position: absolute;
  top: 44%;
  left: 40%;
  animation-name: slideInRight;
  animation-duration: 5s;
  letter-spacing: 5px;
  color: white;
  text-transform: uppercase; }

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

.centretext {
  text-transform: uppercase;
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 42%;
  border-radius: 50px;
  border: solid white;
  padding: 10px;
  color: black;
  background: white;
  animation-name: slideInUp;
  animation-duration: 5s;
  box-shadow: 0px 0px 17px 6px rgba(182, 144, 144, 0.73);
  -moz-box-shadow: 0px 0px 17px 6px rgba(182, 144, 144, 0.73);
  -webkit-box-shadow: 0px 0px 17px 6px rgba(182, 144, 144, 0.73); }

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

.test {
  background-color: #f7f7f7;
  height: 120vh;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: -20vh !important;
  clip-path: polygon(0 14%, 100% 0%, 100% 89%, 0% 100%); }

.middle {
  text-align: right;
  width: 70%;
  margin: 0 auto;
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 131, 0.8));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text; }

.paddedtop {
  padding-top: 200px; }

.paragraph {
  font-size: small;
  margin-top: 20px; }

.headedpart {
  font-size: medium;
  margin-top: 80px; }

.hea {
  font-size: medium;
  margin-top: 20px; }

.shift-right {
  margin-left: 20px !important; }

.anchor {
  display: block;
  margin-top: 20px !important;
  font-size: medium;
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 131, 0.8));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text; }

.shift {
  width: 40%;
  position: relative;
  z-index: 0; }

.important12 {
  position: absolute;
  right: -50px;
  top: 90px;
  outline-offset: 5px;
  z-index: 2; }

.important {
  position: absolute;
  left: 0;
  top: 45px;
  outline-offset: 5px;
  z-index: 1; }

.important1 {
  position: absolute;
  left: 20%;
  top: 135px;
  outline-offset: 5px;
  z-index: 3; }

.important:hover, .important1:hover, .important12:hover {
  z-index: 4;
  transform: scale(1.2);
  outline: 2px solid coral; }

.new {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 131, 0.8)), url("../img/nat4.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: -14vh;
  clip-path: polygon(0 11%, 100% 0%, 100% 88%, 0% 100%); }

.green1, .green2, .green3, .green4 {
  background-color: rgba(255, 255, 255, 0.8);
  height: 50vh;
  text-align: center;
  margin-top: 200px;
  width: 20%;
  margin-right: 20px;
  margin-left: 36px !important;
  padding-left: 25px;
  padding-right: 25px; }

.sin {
  padding: 5px; }

.move {
  padding: 30px; }

.pamper {
  padding: 15px; }

.most {
  background-color: #f7f7f7;
  height: 190vh;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: -12vh; }

/*.blue,.blue1,.blue2{
  background-image: url("../img/nat5.jpg");
  padding: 50px;



}
.space{
  padding: 90px;
  text-align: center;

}
.d{
  font-size:30px;
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 131, 0.8));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

}
.le{
  list-style-type: none;
}

.pricing-photo1{
  height: 200px;
  background-size:cover;
  background-image: url("../img/nat5.jpg");
}
.pricing-photo1 h2{
  padding: 30px;
}*/
.newq {
  text-align: center;
  padding: 100px; }

.differenttours {
  background-size: cover;
  height: 260px;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  background-blend-mode: screen;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 131, 0.8)), url("../img/nat5.jpg");
  width: 80%; }

.differenttours h3 {
  text-align: end;
  padding-top: 190px; }

.stay {
  background-color: white;
  padding: 40px;
  margin-top: -6vh;
  width: 80%;
  clip-path: polygon(0 9%, 100% 0%, 100% 87%, 0% 100%); }

.stay p {
  padding: 20px;
  padding-left: 25px;
  text-align: center;
  border-bottom: 1px solid aliceblue; }

.pricing {
  padding: 20px;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 131, 0.8));
  margin-top: -10vh;
  width: 80%; }

.pricing p {
  padding: 20px;
  text-align: center; }

.pricing a {
  border-radius: 200px;
  background-color: white;
  text-decoration: none;
  padding: 10px;
  position: relative;
  left: 70px; }

.we {
  font-size: 150%; }

.to {
  background-color: #f7f7f7;
  height: 30vh;
  margin-right: 20px;
  margin-left: 20px; }

.make {
  border-radius: 200px;
  background-color: #55c57a;
  padding: 20px;
  font-size: 150%;
  text-decoration: none;
  position: relative;
  left: 38%; }

.fullscreen-bg {
  position: relative;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  right: 0;
  bottom: 0; }

.fullscreen-bg__video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: relative;
  opacity: .3; }

.master {
  margin-left: 20px;
  margin-right: 20px;
  position: relative; }

.asterik {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.leftmover {
  width: 80%;
  text-align: right;
  text-transform: uppercase;
  padding-top: 10%;
  font-size: 190%;
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 131, 0.8));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text; }

.imagechange img {
  margin-left: 15%;
  margin-top: 10%;
  float: left; }

.param, .param {
  margin-left: 10%;
  padding-top: 3%;
  font-size: small;
  float: left; }

.param h2 {
  margin-bottom: 2%;
  font-size: medium; }

.opaque {
  opacity: 1;
  -webkit-clip-path: circle(35% at 50% 50%);
  clip-path: circle(30% at 50% 50%);
  height: 180px; }

.ew a {
  display: block;
  text-align: center;
  text-decoration: none;
  margin-top: 5%; }

.card:hover .imagechange {
  opacity: 0.3; }

.car:hover .imagechange {
  opacity: 0.3; }

.styler {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
  height: 120vh;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: -0.4% !important;
  position: relative; }

.tyler {
  position: absolute;
  top: 20%;
  left: 10%;
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/nat-1-large.jpg);
  height: 60%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 80%;
  margin-right: 10%; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: medium;
  font-family: inherit;
  color: inherit;
  padding: 2%;
  border-radius: 2px;
  background-color: rbga(#fff, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 70%;
  display: block;
  margin-left: 4%; }

.se h2 {
  margin: 3%;
  text-align: center;
  font-size: 150%;
  letter-spacing: 2px;
  text-transform: uppercase; }

.form__radio-button {
  margin: 1%;
  margin-top: 3%; }

#small {
  margin-left: 3%;
  margin-bottom: 5%;
  width: 20%; }

#large {
  margin-left: 3%;
  margin-bottom: 5%;
  width: 20%; }

.yt {
  margin-left: 15%;
  border-radius: 200px;
  background-color: #55c57a;
  text-decoration: none;
  padding: 2%; }

.card-container {
  cursor: pointer;
  height: 150vh;
  perspective: 600;
  position: relative; }

.card {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 100%; }

.card:hover {
  transform: rotateY(180deg); }

.card .side {
  backface-visibility: hidden;
  border-radius: 6px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%; }

.card .back {
  background: #eaeaed;
  color: #0087cc;
  line-height: 150px;
  text-align: center;
  transform: rotateY(180deg); }
