@import url("../css/hover-min.css");
@import 'respgrid.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;

}

.mainlogo {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 131, 0.8)), url("../img/herosmall.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;

}

.logo {
  width: 4%;
  height: 4%;
  margin-left: 10px;
  margin-top: 10px;
}

.centered {
  position: absolute;
  top: 40%;
  left: 40%;
  letter-spacing: 5px;
  color: white;
  animation-name: slideInLeft;
  animation-duration: 5s;
  
  margin-bottom: 10px;
  text-transform: uppercase;
}

.centre {
  position: absolute;
  top: 44%;
  left: 40%;
  animation-name: slideInRight;
  animation-duration: 5s;
  letter-spacing: 5px;
  color: white;
  text-transform: uppercase;
}

@keyframes slideInLeft {

  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.centretext {
  text-transform: uppercase;
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 42%;
  border-radius: 50px;
  border: solid white;
  padding: 10px;
  color: black;
  background: white;
  animation-name: slideInUp;
  animation-duration: 5s;
  box-shadow: 0px 0px 17px 6px rgba(182, 144, 144, 0.73);
  -moz-box-shadow: 0px 0px 17px 6px rgba(182, 144, 144, 0.73);
  -webkit-box-shadow: 0px 0px 17px 6px rgba(182, 144, 144, 0.73);

}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.test {

  background-color: #f7f7f7;
  height: 120vh;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: -20vh !important;
  clip-path: polygon(0 14%, 100% 0%, 100% 89%, 0% 100%);
}

.middle  {
  text-align: right;
  width: 70%;
  margin: 0 auto;
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 131, 0.8));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;


}
//.middle:hover{
//  transform: skew(33deg, -8deg) ;
//}
.paddedtop {
  padding-top: 200px;

}

.paragraph {
  font-size: small;
  margin-top: 20px;
}

.headedpart {
  font-size: medium;
  margin-top: 80px;
}

.hea {
  font-size: medium;
  margin-top: 20px;
}

.shift-right {
  margin-left: 20px !important;
}

.anchor {
  display: block;
  margin-top: 20px !important;
  font-size: medium;
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 131, 0.8));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

}

.shift {
  width: 40%;
  position: relative;
  z-index: 0;


}


.important12 {

  position: absolute;
  right: -50px;
  top: 90px;
  outline-offset: 5px;
  z-index: 2;

}
.important{
  position: absolute;
  left: 0;
  top: 45px;
  outline-offset: 5px;
  z-index: 1;


}
.important1{
  position: absolute;
  left: 20%;
  top: 135px;
  outline-offset: 5px;
  z-index: 3;

}
//.important12:hover{
//  z-index: 20;
//  transform: scale(1.2);
//  outline: 2px solid coral;
//}
//.important1:hover{
//  z-index: 20;
//  transform: scale(1.2);
//  outline: 2px solid coral;
//
//}
.important:hover, .important1:hover, .important12:hover{
  z-index: 4;
  transform: scale(1.2);

  outline: 2px solid coral;
}


.new{
  background-image:linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 131, 0.8)), url("../img/nat4.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: -14vh;
  clip-path: polygon(0 11%, 100% 0%, 100% 88%, 0% 100%);

}

.green1,.green2,.green3,.green4{
  background-color: rgba(255,255,255,.8);
  height: 50vh;
  text-align: center;
  margin-top: 200px;
  width: 20%;
  margin-right: 20px;
  margin-left: 36px!important;
  padding-left: 25px;
  padding-right: 25px;

}
.sin{
  padding: 5px;

}
.move{
 padding: 30px;
}
.pamper{
  padding: 15px;
}
.most{
  background-color: #f7f7f7;
  height: 190vh;

  margin-left: 20px;
  margin-right: 20px;
  margin-top: -12vh;


}
/*.blue,.blue1,.blue2{
  background-image: url("../img/nat5.jpg");
  padding: 50px;



}
.space{
  padding: 90px;
  text-align: center;

}
.d{
  font-size:30px;
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 131, 0.8));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

}
.le{
  list-style-type: none;
}

.pricing-photo1{
  height: 200px;
  background-size:cover;
  background-image: url("../img/nat5.jpg");
}
.pricing-photo1 h2{
  padding: 30px;
}*/
.newq{
  text-align: center;
  padding: 100px;



}
.grou{
  margin-left: 83px!important;
  margin-right: 10px!important;
}

.differenttours{
  background-size: cover;
  height: 260px;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  background-blend-mode: screen;
  background-image:linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 131, 0.8)) ,url("../img/nat5.jpg");
  width: 80%;

}
.differenttours h3{
  text-align: end;
  padding-top: 190px;

}
.stay{
  background-color: white;
  padding: 40px;
  margin-top: -6vh;
  width: 80%;
  clip-path: polygon(0 9%, 100% 0%, 100% 87%, 0% 100%);

}
.stay p{
  padding: 20px;
  padding-left: 25px;
  text-align: center;
  border-bottom:1px solid aliceblue;
}
.pricing{
  padding: 20px;
  background-image:linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 131, 0.8))  ;
  margin-top: -10vh;
  width: 80%;

}
.pricing p{
  padding: 20px;
  text-align: center;


}
.pricing a{
  border-radius: 200px;
  background-color: white;
  text-decoration: none;
  padding: 10px;
  position: relative;
  left: 70px;

}
.we{
  font-size: 150%;
}

.to{
  background-color: #f7f7f7;
  height: 30vh;

  margin-right: 20px;
  margin-left: 20px;
}
.make{
  border-radius: 200px;
  background-color: #55c57a;
  padding: 20px;
  font-size: 150%;
  text-decoration: none;
  position: relative;
  left: 38%;
}